{% extends 'base.html' %}

{% load static %}
{% block content %}
<title>VetMate | Политика конфиденциальности</title>
<div class="container row justify-content-center pt-3">
    <div class="card col-12 col-xl-9">
        <div class="card-body">
            <h1 class="card-title">Политика конфиденциальности</h1>
            <p class="card-text">Ваше право на конфиденциальность важно для нас. В этой политике конфиденциальности описывается, как мы используем и защищаем любую информацию, которую вы предоставляете нам при использовании этого сайта.</p>

            <h2 class="mt-4">Сбор информации</h2>
            <p class="card-text">Мы можем собирать следующую информацию:</p>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Имя и контактная информация, включая адрес электронной почты</li>
                <li class="list-group-item">Демографическая информация, такая как почтовый индекс, предпочтения и интересы</li>
                <li class="list-group-item">Другую информацию, относящуюся к опросам и предложениям клиентов</li>
            </ul>

            <h2 class="mt-4">Использование информации</h2>
            <p class="card-text">Мы можем использовать собранную информацию для улучшения наших продуктов и услуг, а также для следующих целей:</p>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Внутренний учет</li>
                <li class="list-group-item">Улучшение наших продуктов и услуг</li>
                <li class="list-group-item">Периодическая отправка рекламных писем о новых продуктах, специальных предложениях или другой информации, которая, по нашему мнению, может быть вам интересна, используя адрес электронной почты, который вы предоставили</li>
            </ul>

            <h2 class="mt-4">Контроль вашей личной информации</h2>
            <p class="card-text">Вы можете ограничить сбор или использование вашей личной информации следующими способами:</p>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Вы можете ограничить сбор или использование вашей личной информации следующими способами:</li>
                <li class="list-group-item">Если вы ранее согласились с нами на использование вашей личной информации для целей прямого маркетинга, вы можете изменить свое мнение в любое время, написав нам или отправив электронное письмо</li>
            </ul>

            <h2 class="mt-4">Контактная информация</h2>
            <p class="card-text">Если у вас есть какие-либо вопросы о нашей политике конфиденциальности, пожалуйста, свяжитесь с нами по адресу: <a href="mailto:privacy@vetmate.com">privacy@vetmate.com</a>.</p>
        </div>
    </div>
</div>
{% endblock content%}