{% extends 'base.html' %}

{% load static %}
{% block content %}
<title>VetMate | Условия использования</title>
<div class="container row justify-content-center pt-3">
    <div class="card col-9">
        <div class="card-body">
            <h1 class="card-title">Условия использования</h1>
            <p class="card-text">Добро пожаловать на наш сайт. Если вы продолжаете просматривать и использовать этот сайт, вы соглашаетесь соблюдать и быть связанными следующими условиями использования, которые вместе с нашей политикой конфиденциальности регулируют отношения VetMate с вами в отношении этого сайта.</p>

            <h2 class="card-subtitle mt-4">Использование сайта</h2>
            <p class="card-text">Содержание страниц этого сайта предназначено только для вашего общего ознакомления и использования. Оно может быть изменено без предварительного уведомления.</p>

            <h2 class="card-subtitle mt-4">Ограничение ответственности</h2>
            <p class="card-text">Ни мы, ни третьи лица не предоставляем никаких гарантий в отношении точности, своевременности, производительности, полноты или пригодности информации и материалов, найденных или предлагаемых на этом сайте для любых конкретных целей. Вы признаете, что такая информация и материалы могут содержать неточности или ошибки, и мы прямо исключаем ответственность за любые такие неточности или ошибки в максимально возможной степени, разрешенной законом.</p>

            <h2 class="card-subtitle mt-4">Использование материалов</h2>
            <p class="card-text">Этот сайт содержит материалы, которые принадлежат нам или лицензированы нам. Эти материалы включают, но не ограничиваются, дизайн, макет, внешний вид и графику. Воспроизведение запрещено, кроме как в соответствии с уведомлением об авторских правах, которое является частью этих условий.</p>

            <h2 class="card-subtitle mt-4">Ссылки на другие сайты</h2>
            <p class="card-text">Этот сайт может содержать ссылки на другие сайты. Эти ссылки предоставляются для вашего удобства, чтобы предоставить дополнительную информацию. Они не означают, что мы поддерживаем сайт(ы). Мы не несем ответственности за содержание связанного сайта(ов).</p>

            <h2 class="card-subtitle mt-4">Изменения условий</h2>
            <p class="card-text">Мы можем пересматривать эти условия использования в любое время, обновляя эту страницу. Вы должны периодически проверять эту страницу, чтобы убедиться, что вы согласны с любыми изменениями.</p>

            <h2 class="card-subtitle mt-4">Контактная информация</h2>
            <p class="card-text">Если у вас есть какие-либо вопросы о нашей политике конфиденциальности, пожалуйста, свяжитесь с нами по адресу: <a href="mailto:terms@vetmate.com">terms@vetmate.com</a>.</p>
        </div>
    </div>
</div>
{% endblock content%}