{% load static %}
<footer>
    <div class="container">
        <div class="footer-info">
            <div class="footer-logo">
                 <img src="{% static 'img/favicon/favicon_64x64.png'%}" alt="Логотип">
            </div>
            <p>&copy; 2025 VetMate. Все права защищены.</p>
              <p><a href="{% url 'about:privacy' %}">Политика конфиденциальности</a></p>
              <p><a href="{% url 'about:terms' %}">Условия использования</a></p>
        </div>
         <div class="footer-contacts">
              <h3>Контакты</h3>
              <p>Телефон: +7 (999) 123-45-67</p>
              <p>Email: info@vetmate.ru</p>
        </div>
        <div class="footer-social">
            <h3>Мы в соцсетях</h3>
            <a href="#"><img src="{% static 'img/social/vk.png' %}" alt="VK"></a>
             <a href="#"><img src="{% static 'img/social/telegram.png' %}" alt="Telegram"></a>
        </div>
  </div>
</footer>