{% load static %}
<footer>
    <div class="container">
        <div class="footer-info">
            <div class="footer-logo">
                 <img src="{% static 'img/favicon/favicon_64x64.png'%}" alt="Логотип">
            </div>
            <p>&copy; 2024 Уход за домашними животными. Все права защищены.</p>
              <p><a href="/privacy">Политика конфиденциальности</a></p>
              <p><a href="/terms">Условия использования</a></p>
        </div>
         <div class="footer-contacts">
              <h3>Контакты</h3>
              <p>Телефон: +7 (999) 123-45-67</p>
              <p>Email: info@petcare.ru</p>
        </div>
        <div class="footer-social">
            <h3>Мы в соцсетях</h3>
            <a href="#"><img src="social-icon-fb.png" alt="Facebook"></a>
             <a href="#"><img src="social-icon-instagram.png" alt="Instagram"></a>
        </div>
  </div>
</footer>