{% load static %}

<header class="p-3 mb-3 border-bottom">
    <nav class="navbar shadow-sm">
      <div class="container">
        {% with request.resolver_match.view_name as view_name %}
          <div class="logo">
            <a class="nav-link {% if view_name == 'homepage:index' %} active {% endif %}"
            href="{% url 'homepage:index' %}">
              VetMate
            </a>
          </div>
          <ul class="nav nav-pills d-flex flex-wrap">
            <li class="nav-item card-sm">
              <a class="nav-link {% if view_name == 'vets:vets_list' %} active {% endif %}"
                href="{% url 'vets:vets_list' %}">
                Ветеринары
              </a>
            </li>
  
            <!-- Это блок ссылок для авторизованного пользователя -->
            {% if user.is_authenticated %}
              <li class="nav-item card-sm">
                <a class="nav-link {% if view_name == 'pets:pets_list' %} active {% endif %}"
                  href="{% url 'pets:pets_list' %}">
                  Мои животные
                </a>
              </li>
              <li class="nav-item card-sm">
                <div class="dropdown text-end">
                  <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="{{ user.photo.url }}" alt="mdo" width="32" height="32" class="rounded-circle">
                  </a>
                  <ul class="dropdown-menu text-small" style="max-width: 200px;">
                    <li><a class="dropdown-item" href="{% url 'users:profile' user.username %}" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">Профиль</a></li>
                    <li><a class="dropdown-item" href="{% url 'vets:vet_visits' %}" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">Записи на прием</a></li>
                    <li><a class="dropdown-item" href="{% url 'password_change' %}" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">Изменить пароль</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="{% url 'logout' %}" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">Выйти</a></li>
                  </ul>
                </div>
              </li>
            <!-- Конец блока ссылок для авторизованного пользователя -->

            <!-- А здесь блок ссылок для неавторизованного пользователя -->
            {% else %}
                <li class="nav-item card-sm">
                    <a class="nav-link{% if view_name == 'login' %} active {% endif %}" href="{% url 'login' %}">Войти</a>
                </li>
                <li class="nav-item card-sm">
                  <a class="nav-link{% if view_name == 'users:registration' %} active {% endif %}" href="{% url 'users:registration' %}">Регистрация</a>
                </li>        
            {% endif %}
            <!-- Конец блока ссылок для неавторизованного пользователя -->
          </ul>
        {% endwith %}
      </div>
    </nav>
  </header> 