{% extends "base.html" %}

{% load static %}

{% block content %}
<title>VetMate | Главная</title>
<section class="hero">
  <div class="container">
      <h1>Ваша семья – это вы и ваши любимцы!</h1>
      <p>Лучшие советы для счастливого ухода за питомцами</p>
      <div class="buttons">
        <a href="#care" class="button">Узнать больше об уходе</a>
        <a href="#shop" class="button">Посмотреть товары</a>
      </div>
  </div>
</section>

<section class="categories">
  <div class="container">
      <h2>Основные разделы</h2>
      <div class="card-container">
          <div class="card">
              <a href="{% url 'posts:post_list' %}?category=cat">
                  <img src="{% static 'img/homepage/cat.webp' %}" alt="Уход за кошками">
                  <h3>Уход за кошками</h3>
                  <p>Полезные статьи и советы</p>
              </a>
          </div>
          <div class="card">
              <a href="{% url 'posts:post_list' %}?category=dog">
                  <img src="{% static 'img/homepage/dog.webp' %}" alt="Уход за собаками">
                  <h3>Уход за собаками</h3>
                  <p>Полезные статьи и советы</p>
              </a>
          </div>
          <div class="card">
              <a href="{% url 'posts:post_list' %}?category=birds">
                  <img src="{% static 'img/homepage/parrot.webp' %}" alt="Уход за птицами">
                  <h3>Уход за птицами</h3>
                  <p>Полезные статьи и советы</p>
              </a>
          </div>
      </div>
  </div>
</section>

<section id="care" class="care-section">
<div class="container">
  <h2>Уход</h2>
  <div class="card-container">
    <div class="card care-card">
      <img src="{% static 'img/homepage/feeding.webp' %}" alt="Кормление">
      <h3>Кормление</h3>
    </div>
    <div class="card care-card">
      <img src="{% static 'img/homepage/grooming.webp' %}" alt="Груминг">
      <h3>Груминг</h3>
    </div>
    <div class="card care-card">
      <img src="{% static 'img/homepage/health.webp' %}" alt="Здоровье">
      <h3>Здоровье</h3>
    </div>
  </div>
</div>
</section>

<section id="shop" class="shop-section">
<div class="container">
  <h2>Магазин</h2>
</div>
</section>

<section id="forum" class="forum-section">
<div class="container">
  <h2>Форум</h2>
</div>
</section>

<section id="vet" class="vet-section">
<div class="container">
  <h2>Ветеринары</h2>
</div>
</section>
{% endblock %}